<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/4200_3_03.jpg"  alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>note_add</mat-icon>Ajouter un congé
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/listecong">
      <mat-icon>folder</mat-icon>liste des congés
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/traicong">
      <mat-icon>
        autorenew
      </mat-icon> Liste des congés à traiter
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/consulparemp">
      <mat-icon>
        folder
      </mat-icon> Liste des congés par employé
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  </mat-nav-list>
  